<!DOCTYPE html>
<html ng-app="plunker">

    <head>
        <meta charset="utf-8" />
        <title>AngularJS Plunker</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <link rel="stylesheet" href="style.css" />
        <script data-require="angular.js@1.4.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js" data-semver="1.4.7"></script>
        <script data-require="angular-route@*" data-semver="1.4.6" src="https://code.angularjs.org/1.4.6/angular-route.js"></script>
        <script src="query.js"></script>
    </head>

    <!-- body -->
    <body ng-controller="mainController">
        <p>{{username}}</p>
        <input type="search" placeholder="User name to find" ng-model="username" />
        <input type="submit" value="Find!" ng-click="search(username)" />
        
        <div>
            {{user.name}}
        </div>
        <div>
            {{user.email}}
        </div>
    </body>

</html>
